apiVersion: v1
kind: Service
metadata:
  name: eventease-frontend-service
  labels:
    app: eventease-frontend
    tier: frontend
spec:
  type: LoadBalancer
  ports:
  - name: http
    port: 80
    targetPort: 80
    protocol: TCP
  selector:
    app: eventease-frontend
  sessionAffinity: None
  externalTrafficPolicy: Local
