@tailwind base;
@tailwind components;
@tailwind utilities;
body { background-color: #050505; color: #e0e0e0; font-family: monospace; background-image: linear-gradient(#111 1px, transparent 1px), linear-gradient(90deg, #111 1px, transparent 1px); background-size: 40px 40px; }
